/*NORMALIZE*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*ROOT*/
:root{
    --first: #fafafb;
    --second:#F806CC;
    --third:#A91079;
    --fourth:#2E0249;
    --fifth:#570A57; 
}
/*BODY STYLE RESPONSIVE*/
body{
    background: linear-gradient(to bottom,var(--second),var(--fourth));
    height: 100vh;
    font-family: 'Prompt', sans-serif;
}
.container{
    width: 90%;
    max-width: 660px;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

/*PERFIL*/

.titulo{
    color: var(--first);
}
h2{
    color: var(--first);
    letter-spacing: 1px;
} 
#fecha{
    color: var(--first);
    padding: 3em 0 0.5em 0;
}

/*AGREGAR TAREA*/

.agregar-tarea{
    background-color: var(--first);
    border-radius: 15px;
    height:4em ;
    display: flex;
    align-items: center;
    padding: 1.2em;
    gap: 4em;
}
.agregar-tarea input{
    width: 100%;
    height: 100%;
    color:var(--second);
    border-color: var(--fourth);
    padding: 0.9em;
    border-radius:8px;
    background-color: var(--first);
    padding: 1.7em 1em;

}
.agregar-tarea i{
    font-size: 3em;
    color: var(--second);
}
.agregar-tarea i:hover{
    transform: scale(1.1);
    cursor: pointer;

}
.agregar-tarea input::placeholder{
    font-size: 1.1em;
    color: var(--second);
}
/*SECCION TAREA*/
.seccion-tarea h3{
    color: var(--first);
    letter-spacing: 1px;
}
.seccion-tarea li{
    display: flex;
    background: linear-gradient(to bottom,var(--third), var(--fourth));
    border-radius: 15px;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    color: var(--first);
    font-size: 1.2em;
    margin: 0.5em 0;
}
.seccion-tarea li>p{
    margin-left: 0.42em
}
.seccion-tarea i:hover{
    color: var(--second);
}
.line-trough{
    text-decoration: line-through;
    color: var(--fifth);
}